* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #edeeeb;
  color: #333;
}


.topbar {

  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f9f9f9;
  width: 100%;
}
.topbar{
  z-index:999;
}



.lia{
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  /* font-size: 23px; */
}

.topbtnimg {
  width: 81px;
  height: 64px;
  padding: 3px 8px;
}

.Topbutton {
  height: 64px;
}


li a:hover,
.dropdown:hover .dropbtn,
.topbtnimg:hover,
.zoom:hover,
.listbutton1:hover {
  background-color: #f1f1f1;
}


.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}








header {
  background-color: #2F4F4F;
  color: white;
  text-align: center;
  padding: 20px;
}

.intro-header h1 {
  font-size: 2.5rem;
  margin: 0;
}

.intro-header p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

#introduction {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
  display: none;
}

#introduction p {
  margin: 0 0 10px;
}

#introduction ol {
  list-style: decimal;
  margin-left: 20px;
  padding-left: 0;
}

#introduction li {
  margin: 0 0 5px;
}

#introduction h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.left-box, .case-study {
  flex-basis: calc(50% - 20px);
  padding: 20px;
  background-color: #fff;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.left-box h2, .case-study h2 {
  border-bottom: 2px solid #2F4F4F;
  padding-bottom: 10px;
  font-size: 1.5rem;
  margin: 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 1.2rem;
}

.diagram img, .tree-canopy-impact-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.case-study p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.impact-why-matters {
  padding: 20px;
  background-color: #fff;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.impact-why-matters h2 {
  border-bottom: 2px solid #2F4F4F;
  padding-bottom: 10px;
  font-size: 1.5rem;
  margin: 0;
}

.impact-why-matters p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.why-matters-heading {
  font-size: 1.2rem;
  margin: 10px 0;
  cursor: pointer;
  color: #2F4F4F;
}

.why-matters-content {
  display: none;
  font-size: 1.2rem;
  margin: 10px 0;
}

.why-matters-content.visible {
  display: block;
}

.references {
  padding: 20px;
  background-color: #fff;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.references h2 {
  border-bottom: 2px solid #2F4F4F;
  padding-bottom: 10px;
  font-size: 1.5rem;
  margin: 0;
}

footer {
  background-color: #2F4F4F;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}

.left-box,
.impact-why-matters {
  flex-basis: calc(50% - 20px);
  padding: 20px;
  background-color: #fff;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.impact-why-matters h2 {
  border-bottom: 2px solid #2F4F4F;
  padding-bottom: 10px;
  font-size: 1.5rem;
  margin: 0;
}

.impact-why-matters p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.impact-why-matters .tree-canopy-impact-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.impact-why-matters ul {
  list-style-type: none;
}

.impact-why-matters li {
  margin: 10px 0;
}

.left-box h2 {
  border-bottom: 2px solid #2F4F4F;
  padding-bottom: 10px;
  font-size: 1.5rem;
  margin: 0;
}

.left-box ul {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 1.2rem;
}

.left-box li {
  margin: 0 0 5px;
}

.diagram img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.case-study {
  background: linear-gradient(135deg, #f3f3f3, #e1e1e1);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.case-study {
  background: linear-gradient(135deg, #f3f3f3, #e1e1e1);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.case-study-title {
  font-size: 1.8rem;
  margin: 10px 0;
  border-bottom: 2px solid #2F4F4F;
  padding-bottom: 10px;
}

.case-study-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}

.case-study-info,
.case-study-goals {
  flex-basis: calc(50% - 20px);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.case-study-info p,
.case-study-goals ol {
  font-size: 1.2rem;
  margin: 10px 0;
}

.case-study-goals ol {
  list-style-type: decimal;
  margin-left: 20px;
  padding-left: 0;
}

.case-study-info p strong,
.case-study-goals p strong {
  color: #2F4F4F;
}

.case-study-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

button {
  background-color: #2F4F4F;
  color: white;
  padding: 3px 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

button:hover {
  background-color: #1E3636;
}

@media screen and (min-width: 600px) {
  li.dropdown {
    display: none;
  }
}


@media screen and (max-width: 600px) {
  li.Topbutton {
    display: none;
  }

  li.dropdown {
    display: inline-block;
  }
}
